---
argument_specs:
  main:
    short_description: >-
      Configure a PostgreSQL instance using podman
    description:
      - Configure PostgreSQL instance in a podman container
      - Requires a container with PostgreSQL 18+
    options:
      monitoring_grafana_config_path:
        type: str
        required: true
        description:
          - The path to where the Grafana configuration is kept
          - This is used to install a basic PostgreSQL dashboard for viewing
            metrics
      postgres_args:
        type: str
        required: false
        description: Arguments to pass to the Postgres cli
      postgres_data_path:
        type: str
        required: true
        description: The path on disk where to store the data from PostgreSQL
      postgres_database:
        type: str
        required: true
        description: The name of the database to create
      postgres_image:
        type: str
        default: docker.io/library/postgres:latest
        description: The container image path and tag to use for Postgres
      postgres_initdb_args:
        type: str
        required: false
        description: Arguments to pass to initdb when Postgres initializes
      postgres_network:
        type: str
        required: true
        description: >-
          The name of the podman network to which the PostgreSQL instance will
          be exposed
      postgres_container:
        type: str
        required: true
        description: >-
          The name to give the podman pod in which the PostgreSQL container will
          be launched
      postgres_user:
        type: str
        required: true
        description: The name of the user to use to connect to the database
      postgres_password_secret:
        type: str
        required: true
        description: >-
          The podman secret containing the password to connect to the database
