{{ template_warning }}
---
http:
  routers:
    mailpit:
      rule: Host(`{{ hostname }}`)
      service: mailpit
      priority: 10
      middlewares:
        - authentik@file

    mailpit-auth:
      rule: Host(`{{ hostname }}`) && PathPrefix(`/outpost.goauthentik.io/`)
      priority: 15
      service: authentik@file

    mailpit-icon:
      rule: Host(`{{ hostname }}`) && PathPrefix(`/mailpit.svg`)
      service: mailpit@file
      priority: 15

  services:
    mailpit:
      loadBalancer:
        servers:
          - url: http://mailpit:8025
