---
- name: Configure the mailpit authentication
  become: true
  containers.podman.podman_secret:
    name: mailpit-smtp-auth
    # yamllint disable-line rule:line-length
    data: "{{ mailpit_test_gateway_smtp_username }}:{{ mailpit_test_gateway_smtp_password | password_hash('sha512', salt='x2m30987das3qw') }}"

- name: Setup a Mailpit container
  become: true
  containers.podman.podman_container:
    name: mailpit
    image: docker.io/axllent/mailpit:latest
    state: quadlet
    env:
      MP_SMTP_AUTH_FILE: /run/secrets/mailpit-smtp-auth
      MP_SMTP_AUTH_ALLOW_INSECURE: "true"
    healthcheck: /mailpit readyz
    healthcheck_interval: 1m
    health_startup_interval: 10s
    health_startup_timeout: 5min
    sdnotify: healthy
    pull: newer
    read_only: true
    cap_drop: [all]
    secrets:
      - mailpit-smtp-auth
    network: "{{ mailpit_test_gateway_networks | map('regex_replace', '^(.*)$', '\\1.network') }}"
    userns: auto:size=6
    quadlet_options:
      - |
        [Unit]
        PartOf=infrastructure.target
        Before=infrastructure.target

        [Install]
        WantedBy=infrastructure.target

        [Service]
        TimeoutSec=5min
  register: _container

- name: Ensure the Mailpit container is started
  become: true
  ansible.builtin.systemd_service:
    name: mailpit
    state: "{{ _container.changed | ternary('restarted', 'started') }}"
    enabled: true
    daemon_reload: true

- name: Ensure the Mailpit container is healthy
  become: true
  ansible.builtin.command: podman healthcheck run mailpit
  changed_when: false

- name: Create an application for Mailpit on Authentik
  ansible.builtin.import_role:
    name: benschubert.infrastructure.auth
    tasks_from: application
  vars:
    allowlisted_groups: "{{ mailpit_test_gateway_allowlisted_groups }}"
    application_name: MailPit
    application_slug: benschubert-infrastructure-mailpit
    group: admin
    meta_description: Mailpit
    # yamllint disable-line rule:line-length
    icon_url: https://{{ mailpit_test_gateway_mailpit_hostname }}:{{ ingress_https_port }}/mailpit.svg
    provider_proxy:
      hostname: "{{ mailpit_test_gateway_mailpit_hostname }}"

- name: Setup a provider for Mailpit
  ansible.builtin.import_role:
    name: benschubert.infrastructure.ingress
    tasks_from: provider
  vars:
    template_file: ingress-mailpit.yml.j2
    ingress_name: mailpit
    hostname: "{{ mailpit_test_gateway_mailpit_hostname }}"
    expected_status_code: 302
