---
# FIXME: 'mutually_exclusive' or 'required_one_of' are not available for role
#        validation, thus make it ourselves
- name: Ensure the provider is provided for {{ application_name }}
  ansible.builtin.assert:
    that:
      - |
        ((provider_oauth2 | default(None)) is not none)
        or ((provider_proxy | default(None)) is not none)
      - |
        not (
          ((provider_oauth2 | default(None)) is not none)
          and ((provider_proxy | default(None)) is not none)
        )
    fail_msg: Either provider_oauth2 or provider_proxy needs to be passed but not both

- name: Get consent flow for applications for {{ application_name }}
  benschubert.infrastructure.authentik_flow_info:
    authentik_token: "{{ auth_authentik_token }}"
    authentik_url: https://{{ auth_authentik_hostname }}:{{ ingress_https_port }}
    ca_path: "{{ ingress_custom_ca_cert | default(omit) }}"
    timeout: 15
    validate_certs: "{{ ingress_validate_certs }}"
    slug: default-provider-authorization-explicit-consent
  register: _authorization_flow
  until: _authorization_flow.data is not none
  retries: 5
  delay: 5

- name: Get invalidation flow for applications for {{ application_name }}
  benschubert.infrastructure.authentik_flow_info:
    authentik_token: "{{ auth_authentik_token }}"
    authentik_url: https://{{ auth_authentik_hostname }}:{{ ingress_https_port }}
    ca_path: "{{ ingress_custom_ca_cert | default(omit) }}"
    validate_certs: "{{ ingress_validate_certs }}"
    slug: default-provider-invalidation-flow
  register: _invalidation_flow
  until: _invalidation_flow.data is not none
  retries: 5
  delay: 5

- name: Generate the OAuth2 provider for {{ application_name }}
  when: (provider_oauth2 | default(none)) is not none
  block:
    - name: Get the signing key for applications for {{ application_name }}
      benschubert.infrastructure.authentik_certificate_info:
        authentik_token: "{{ auth_authentik_token }}"
        authentik_url: https://{{ auth_authentik_hostname }}:{{ ingress_https_port }}
        ca_path: "{{ ingress_custom_ca_cert | default(omit) }}"
        validate_certs: "{{ ingress_validate_certs }}"
        name: authentik Self-signed Certificate
      register: _signing_key

    - name: Get the ids of the requested scopes for {{ application_name }}
      benschubert.infrastructure.authentik_propertymappings_scope_info:
        authentik_token: "{{ auth_authentik_token }}"
        authentik_url: https://{{ auth_authentik_hostname }}:{{ ingress_https_port }}
        ca_path: "{{ ingress_custom_ca_cert | default(omit) }}"
        validate_certs: "{{ ingress_validate_certs }}"
        scope_name: "{{ item }}"
      loop: "{{ provider_oauth2.scopes }}"
      register: _scopes

    - name: Generate the OAuth2 provider itself for {{ application_name }}
      benschubert.infrastructure.authentik_provider_oauth2:
        authentik_token: "{{ auth_authentik_token }}"
        authentik_url: https://{{ auth_authentik_hostname }}:{{ ingress_https_port }}
        ca_path: "{{ ingress_custom_ca_cert | default(omit) }}"
        validate_certs: "{{ ingress_validate_certs }}"
        provider:
          name: "{{ application_name }}"
          authorization_flow: "{{ _authorization_flow.data.pk }}"
          invalidation_flow: "{{ _invalidation_flow.data.pk }}"
          property_mappings: "{{ _scopes.results | map(attribute='data.pk') }}"
          signing_key: "{{ _signing_key.data.pk }}"
          redirect_uris: "{{ provider_oauth2.redirect_uris }}"
          sub_mode: "{{ provider_oauth2.sub_mode }}"
      register: _provider_oauth2_result

- name: Generate the proxy provider for {{ application_name }}
  when: (provider_proxy | default(None)) is not none
  benschubert.infrastructure.authentik_provider_proxy:
    authentik_token: "{{ auth_authentik_token }}"
    authentik_url: https://{{ auth_authentik_hostname }}:{{ ingress_https_port }}
    ca_path: "{{ ingress_custom_ca_cert | default(omit) }}"
    validate_certs: "{{ ingress_validate_certs }}"
    provider:
      name: "{{ application_name }}"
      authorization_flow: "{{ _authorization_flow.data.pk }}"
      external_host: https://{{ provider_proxy.hostname }}{{
          "" if ingress_https_port == 443 else ":{}".format(ingress_https_port)
        }}
      invalidation_flow: "{{ _invalidation_flow.data.pk }}"
      mode: forward_single
  register: _provider_proxy_result

- name: Retrieve proxy for {{ application_name }}
  ansible.builtin.set_fact:
    _provider_result: >-
      {{
        (provider_oauth2 | default(None)) is not none
        | ternary(_provider_oauth2_result, _provider_proxy_result)
      }}

- name: Generate the application for {{ application_name }}
  benschubert.infrastructure.authentik_application:
    authentik_token: "{{ auth_authentik_token }}"
    authentik_url: https://{{ auth_authentik_hostname }}:{{ ingress_https_port }}
    ca_path: "{{ ingress_custom_ca_cert | default(omit) }}"
    validate_certs: "{{ ingress_validate_certs }}"
    application:
      name: "{{ application_name }}"
      slug: "{{ application_slug }}"
      provider: "{{ _provider_result.data.pk }}"
      group: "{{ group }}"
      open_in_new_tab: true
      meta_description: "{{ meta_description }}"
      meta_icon: "{{ icon_url }}"
  register: _app

- name: Configure the internal outpost for {{ application_name }}
  benschubert.infrastructure.authentik_outpost:
    authentik_token: "{{ auth_authentik_token }}"
    authentik_url: https://{{ auth_authentik_hostname }}:{{ ingress_https_port }}
    ca_path: "{{ ingress_custom_ca_cert | default(omit) }}"
    validate_certs: "{{ ingress_validate_certs }}"
    outpost:
      name: authentik Embedded Outpost
      config:
        authentik_host: https://{{ auth_authentik_hostname }}:{{ ingress_https_port }}

- name: Register the application against the internal provider for {{ application_name }}
  when: (provider_proxy | default(none)) is not none
  benschubert.infrastructure.authentik_outpost_provider:
    authentik_token: "{{ auth_authentik_token }}"
    authentik_url: https://{{ auth_authentik_hostname }}:{{ ingress_https_port }}
    ca_path: "{{ ingress_custom_ca_cert | default(omit) }}"
    validate_certs: "{{ ingress_validate_certs }}"
    outpost_name: authentik Embedded Outpost
    provider_pk: "{{ _provider_result.data.pk }}"

- name: Restrict access to the application to the selected groups for {{ application_name }}
  when: (allowlisted_groups or []) | length > 0
  block:
    - name: Ensure the requested group exists for {{ application_name }}
      benschubert.infrastructure.authentik_group:
        authentik_token: "{{ auth_authentik_token }}"
        authentik_url: https://{{ auth_authentik_hostname }}:{{ ingress_https_port }}
        ca_path: "{{ ingress_custom_ca_cert | default(omit) }}"
        validate_certs: "{{ ingress_validate_certs }}"
        group:
          name: "{{ item }}"
      loop: "{{ allowlisted_groups or [] }}"
      register: _groups

    - name: Restrict access to the provided group for {{ application_name }}
      benschubert.infrastructure.authentik_policy_binding:
        authentik_token: "{{ auth_authentik_token }}"
        authentik_url: https://{{ auth_authentik_hostname }}:{{ ingress_https_port }}
        ca_path: "{{ ingress_custom_ca_cert | default(omit) }}"
        validate_certs: "{{ ingress_validate_certs }}"
        binding:
          group: "{{ item.data.pk }}"
          order: 0
          target: "{{ _app.data.pk }}"
      loop: "{{ _groups.results }}"
      loop_control:
        label: "{{ item.data.name }}"
