---
- name: Warn if the bootstrap secrets are set
  ansible.builtin.fail:
    msg: >-
      The bootstrap superadmin secrets are still injected. You might want to
      change the secrets and remove them from the variables for security
  when: >-
    auth_authentik_superadmin_bootstrap_password is not none
    or auth_authentik_superadmin_bootstrap_token is not none
  ignore_errors: true
  tags:
    - skip_ansible_lint

- name: Create the required network
  become: true
  containers.podman.podman_network:
    name: "{{ item }}"
    internal: true
    state: quadlet
  loop: "{{ auth_worker_additional_networks }}"

- name: Ensure the paths for authentik exist
  become: true
  ansible.builtin.file:
    path: "{{ auth_authentik_configuration_path }}/{{ item }}"
    state: directory
    mode: "0o755"
  loop:
    - blueprints
    - public

- name: Copy the required blueprints
  become: true
  ansible.builtin.template:
    src: "{{ item }}.yml.j2"
    dest: "{{ auth_authentik_configuration_path }}/blueprints/{{ item }}.yaml"
    mode: "0o644"
  loop:
    - 01-flow-recovery
    - 02-flow-login
    - 03-tenant
    - 04-flow-enrollment

- name: Copy the background for authentik
  become: true
  ansible.builtin.copy:
    src: "{{ auth_authentik_background }}"
    dest: "{{ auth_authentik_configuration_path }}/{{ auth_authentik_background }}"
    mode: "0o644"
  when: (auth_authentik_background | default(None)) is not none
  register: _background

- name: Copy the icon for authentik
  become: true
  ansible.builtin.copy:
    src: "{{ auth_authentik_icon }}"
    dest: "{{ auth_authentik_configuration_path }}/{{ auth_authentik_icon }}"
    mode: "0o644"
  when: (auth_authentik_icon | default(None)) is not none
  register: _icon

- name: Create the required secrets
  become: true
  containers.podman.podman_secret:
    name: "{{ item.name }}"
    data: "{{ item.data }}"
    state: present
  when: (item.data | length) > 0
  loop:
    - name: auth-secret-key
      data: "{{ auth_authentik_secret_key }}"
    - name: auth-postgres-password
      data: "{{ auth_postgres_password }}"
    - name: auth-email-password
      data: "{{ auth_authentik_email_config.password | default('') }}"
  loop_control:
    label: "{{ item.name }}"

- name: Configure the postgres image if not provided explicitly
  ansible.builtin.set_fact:
    auth_postgres_image: "{{ postgres_image }}"
  when: auth_postgres_image is not defined

- name: Create the Authentik database
  ansible.builtin.import_role:
    name: benschubert.infrastructure.postgres
  vars:
    postgres_args: "{{ auth_postgres_args | default(omit) }}"
    postgres_container: auth-postgres
    postgres_password_secret: auth-postgres-password
    postgres_data_path: "{{ auth_postgres_data_path }}"
    postgres_image: "{{ auth_postgres_image }}"
    postgres_initdb_args: "{{ auth_postgres_initdb_args | default(omit) }}"
    postgres_user: authentik
    postgres_database: authentik
    postgres_network: auth-postgres

- name: Setup the Authentik server container
  become: true
  containers.podman.podman_container:
    name: auth
    state: quadlet
    image: "{{ auth_authentik_image }}"
    command: server
    env:
      AUTHENTIK_LOG_LEVEL: info
      AUTHENTIK_SECRET_KEY: file:///run/secrets/auth-secret-key
      AUTHENTIK_POSTGRESQL__HOST: auth-postgres
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: file:///run/secrets/auth-postgres-password
      # Make Authentik not access the outside world
      AUTHENTIK_DISABLE_UPDATE_CHECK: true
      AUTHENTIK_ERROR_REPORTING__ENABLED: false
      AUTHENTIK_DISABLE_STARTUP_ANALYTICS: true
      AUTHENTIK_AVATARS: none
      AUTHENTIK_LISTEN__METRICS: 0.0.0.0:9300
      AUTHENTIK_HOST: https://{{ auth_authentik_hostname }}:{{ ingress_https_port }}
      # Email configurations
      AUTHENTIK_EMAIL__HOST: "{{ auth_authentik_email_config.host | default(omit) }}"
      AUTHENTIK_EMAIL__PORT: "{{ auth_authentik_email_config.port | default(omit) }}"
      AUTHENTIK_EMAIL__USERNAME: "{{ auth_authentik_email_config.username | default(omit) }}"
      AUTHENTIK_EMAIL__PASSWORD: >-
        {{
          auth_authentik_email_config.password
          | default(False)
          | ternary('file:///run/secrets/auth-email-password', omit)
        }}
      AUTHENTIK_EMAIL__USE_TLS: "{{ auth_authentik_email_config.tls | default(omit) }}"
      AUTHENTIK_EMAIL__USE_SSL: "{{ auth_authentik_email_config.ssl | default(omit) }}"
      AUTHENTIK_EMAIL__FROM: "{{ auth_authentik_email_config.from | default(omit) }}"
    healthcheck: /lifecycle/ak healthcheck
    healthcheck_interval: 1m
    health_startup_interval: 10s
    health_startup_timeout: 10min
    sdnotify: healthy
    pull: newer
    volumes: >-
      {{
        [
          auth_authentik_configuration_path +
            "/blueprints:/blueprints/benschubert-infrastructure:ro,Z",
          auth_authentik_configuration_path + "/public:/data/media/public:ro,Z",
        ] + (
          [
            auth_authentik_configuration_path
            + "/"
            + auth_authentik_background
            + ":/web/dist/assets/images/flow_background.jpg:ro,Z"
          ]
          if (auth_authentik_background | default(false))
          else []
        ) + (
          [
            auth_authentik_configuration_path
            + "/"
            + auth_authentik_icon
            + ":/web/dist/assets/icons/icon_left_brand.svg:ro,Z"
          ] if (auth_authentik_icon | default(false)) else []
        )
      }}
    secrets: >-
      {{
        [
          'auth-secret-key',
          'auth-postgres-password',
        ] + (
          ['auth-email-password']
          if (auth_authentik_email_config.password | default(False))
          else []
        )
      }}
    read_only: true
    cap_drop: [all]
    network:
      - ingress-auth.network
      - auth-postgres.network
    userns: auto:size=1001
    quadlet_options:
      - |
        [Unit]
        PartOf=infrastructure.target
        After=auth-postgres.service
        Before=auth-worker.service
        Requires=auth-postgres.service
        Requires=ingress.service
        Wants=auth-worker.service

        [Install]
        WantedBy=infrastructure.target

        [Service]
        TimeoutSec=20min
  register: _container

- name: Ensure the Authentik container is started
  become: true
  ansible.builtin.systemd_service:
    name: auth
    state: >-
      {{
        (_background.changed or _icon.changed or _container.changed)
        | ternary('restarted', 'started')
      }}
    enabled: true
    daemon_reload: true

- name: Ensure the Authentik container is healthy
  become: true
  ansible.builtin.command: podman healthcheck run auth
  changed_when: false

- name: Setup the Authentik worker container
  become: true
  containers.podman.podman_container:
    name: auth-worker
    state: quadlet
    image: "{{ auth_authentik_image }}"
    command: worker
    env:
      AUTHENTIK_SECRET_KEY: file:///run/secrets/auth-secret-key
      AUTHENTIK_POSTGRESQL__HOST: auth-postgres
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: file:///run/secrets/auth-postgres-password
      # Bootstrap information
      AUTHENTIK_BOOTSTRAP_EMAIL: "{{ auth_authentik_superadmin_bootstrap_email or omit }}"
      AUTHENTIK_BOOTSTRAP_PASSWORD: "{{ auth_authentik_superadmin_bootstrap_password or omit }}"
      AUTHENTIK_BOOTSTRAP_TOKEN: "{{ auth_authentik_superadmin_bootstrap_token or omit }}"
      # Make Authentik not access the outside world
      AUTHENTIK_DISABLE_UPDATE_CHECK: true
      AUTHENTIK_ERROR_REPORTING__ENABLED: false
      AUTHENTIK_DISABLE_STARTUP_ANALYTICS: true
      AUTHENTIK_AVATARS: none
      AUTHENTIK_HOST: https://{{ auth_authentik_hostname }}:{{ ingress_https_port }}
      # Email configurations
      AUTHENTIK_EMAIL__HOST: "{{ auth_authentik_email_config.host | default(omit) }}"
      AUTHENTIK_EMAIL__PORT: "{{ auth_authentik_email_config.port | default(omit) }}"
      AUTHENTIK_EMAIL__USERNAME: "{{ auth_authentik_email_config.username | default(omit) }}"
      AUTHENTIK_EMAIL__PASSWORD: >-
        {{
          auth_authentik_email_config.password
          | default(False)
          | ternary('file:///run/secrets/auth-email-password', omit)
        }}
      AUTHENTIK_EMAIL__USE_TLS: "{{ auth_authentik_email_config.tls | default(omit) }}"
      AUTHENTIK_EMAIL__USE_SSL: "{{ auth_authentik_email_config.ssl | default(omit) }}"
      AUTHENTIK_EMAIL__FROM: "{{ auth_authentik_email_config.from | default(omit) }}"
    healthcheck: /lifecycle/ak healthcheck
    healthcheck_interval: 1m
    health_startup_interval: 10s
    health_startup_timeout: 15min
    sdnotify: healthy
    pull: newer
    volumes:
      # yamllint disable-line rule:line-length
      - "{{ auth_authentik_configuration_path }}/blueprints:/blueprints/benschubert-infrastructure:ro,Z"
      - "{{ auth_authentik_configuration_path }}/public:/data/media/public:ro,Z"

    secrets: >-
      {{
        [
          'auth-secret-key',
          'auth-postgres-password',
        ] + (
          ['auth-email-password']
          if (auth_authentik_email_config.password | default(False))
          else []
        )
      }}
    read_only: true
    cap_drop: [all]
    network: "{{
        ['auth-postgres.network']
        + (auth_worker_additional_networks | map('regex_replace', '^(.*)$', '\\1.network'))
      }}"
    userns: auto:size=1001
    quadlet_options:
      - |
        [Unit]
        PartOf=infrastructure.target
        After=auth-postgres.service
        Requires=auth-postgres.service

        [Install]
        WantedBy=infrastructure.target

        [Service]
        TimeoutSec=15min
  register: _container

- name: Ensure the Authentik worker container is started
  become: true
  ansible.builtin.systemd_service:
    name: auth-worker
    state: "{{ _container.changed | ternary('restarted', 'started') }}"
    enabled: true
    daemon_reload: true

- name: Ensure the Authentik worker container is healthy
  become: true
  ansible.builtin.command: podman healthcheck run auth-worker
  changed_when: false

- name: Setup an ingress for Authentik
  ansible.builtin.import_role:
    name: benschubert.infrastructure.ingress
    tasks_from: provider
  vars:
    template_file: ingress-authentik.yml.j2
    ingress_name: authentik
    hostname: "{{ auth_authentik_hostname }}"
    expected_status_code: 302

- name: Get the blueprints statuses
  ansible.builtin.uri:
    url: https://{{ auth_authentik_hostname }}:{{ ingress_https_port }}/api/v3/managed/blueprints/
    headers:
      Authorization: Bearer {{ auth_authentik_token }}
    return_content: true
    ca_path: "{{ ingress_custom_ca_cert | default(omit) }}"
    validate_certs: "{{ ingress_validate_certs }}"
  register: _blueprints
  retries: 5
  delay: 2

- name: Ensure all blueprints have converged
  ansible.builtin.uri:
      # yamllint disable-line rule:line-length
    url: https://{{ auth_authentik_hostname }}:{{ ingress_https_port }}/api/v3/managed/blueprints/{{ item.pk }}/apply/
    method: post
    headers:
      Authorization: Bearer {{ auth_authentik_token }}
    return_content: true
    timeout: 60
    ca_path: "{{ ingress_custom_ca_cert | default(omit) }}"
    validate_certs: "{{ ingress_validate_certs }}"
  failed_when: _blueprint_run.status != 200 or _blueprint_run.json.status != 'successful'
  register: _blueprint_run
  loop: "{{ _blueprints.json.results | rejectattr('status', 'equalto', 'successful') }}"
  loop_control:
    label: "{{ item.name }}"
  retries: 10
  delay: 5

- name: Configure the Alloy image if not provided explicitly
  ansible.builtin.set_fact:
    auth_monitor_agent_alloy_image: "{{ monitoring_agent_alloy_image }}"
  when: auth_monitor_agent_alloy_image is not defined

- name: Monitor Authentik
  ansible.builtin.import_role:
    name: benschubert.infrastructure.monitoring
    tasks_from: agent
  vars:
    monitoring_agent_product_name: auth
    monitoring_agent_config_path: "{{ auth_monitor_agent_config_path }}"
    monitoring_agent_data_path: "{{ auth_monitor_agent_data_path }}"
    monitoring_agent_alloy_image: "{{ auth_monitor_agent_alloy_image }}"
    monitoring_agent_networks:
      - ingress-auth
      - auth-postgres
    monitoring_agent_container: auth-monitoring
    monitoring_agent_prometheus_endpoints:
      - name: authentik
        address: auth:9300
      - name: authentik-worker
        address: auth-worker:9300
        alerting_rules_template: authentik-alerts.yml.j2
    monitoring_agent_postgres_instances:
      - instance: auth-postgres
        username: authentik
        password: "{{ auth_postgres_password }}"
        database: authentik
    monitoring_agent_redis_instances: []
    monitoring_agent_user_group: "{{ auth_monitor_agent_user_group }}"
