---
- name: Ensure the Loki paths exist
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0o700"
  loop:
    - "{{ monitoring_loki_config_path }}/rules"
    - "{{ monitoring_loki_data_path }}"

- name: Create the Loki configuration file
  become: true
  ansible.builtin.template:
    src: loki.yml.j2
    dest: "{{ monitoring_loki_config_path }}/local-config.yaml"
    mode: "0o444"
  register: _configuration

- name: Create the Loki network
  become: true
  containers.podman.podman_network:
    name: ingress-monitoring
    internal: true
    state: quadlet

- name: Setup the Loki container
  become: true
  containers.podman.podman_container:
    name: monitoring-loki
    state: quadlet
    image: "{{ monitoring_loki_image }}"
    healthcheck: CMD /busybox wget -O- http://localhost:3100/ready
    healthcheck_interval: 1m
    health_startup_interval: 10s
    health_startup_timeout: 5min
    sdnotify: healthy
    read_only: true
    cap_drop: [all]
    pull: newer
    volumes:
      - "{{ monitoring_loki_config_path }}:/etc/loki/:ro,Z,idmap=uids=@0-10001-1;gids=@0-10001-1"
      # yamllint disable-line rule:line-length
      - "{{ monitoring_loki_config_path }}/rules:/etc/loki/rules:Z,idmap=uids=@0-10001-1;gids=@0-10001-1"
      - "{{ monitoring_loki_data_path }}:/data/loki:Z,idmap=uids=@0-10001-1;gids=@0-10001-1"
      - /usr/bin/busybox:/busybox:ro,Z
    network:
      - ingress-monitoring.network
    userns: auto:size=10002
    quadlet_options:
      - |
        [Unit]
        PartOf=infrastructure.target
        Before=infrastructure.target
        After=auth.service
        After=ingress.service
        Requires=auth.service
        Requires=ingress.service

        [Install]
        WantedBy=infrastructure.target

        [Service]
        TimeoutSec=5min
  register: _container

- name: Ensure the Loki container is started
  become: true
  ansible.builtin.systemd_service:
    name: monitoring-loki
    state: "{{ (_configuration.changed or _container.changed) | ternary('restarted', 'started') }}"
    enabled: true
    daemon_reload: true

- name: Ensure the Loki container is healthy
  become: true
  ansible.builtin.command: podman healthcheck run monitoring-loki
  changed_when: false

- name: Create an application for Loki on Authentik
  ansible.builtin.import_role:
    name: benschubert.infrastructure.auth
    tasks_from: application
  vars:
    allowlisted_groups: "{{ monitoring_loki_allowlisted_groups }}"
    application_name: loki
    application_slug: benschubert-infrastructure-loki
    group: admin
    meta_description: Loki
    icon_url: https://grafana.com/media/docs/loki/logo-grafana-loki.png
    provider_proxy:
      hostname: "{{ monitoring_loki_hostname }}"

- name: Setup an ingress for Loki
  ansible.builtin.import_role:
    name: benschubert.infrastructure.ingress
    tasks_from: provider
  vars:
    template_file: ingress-loki.yml.j2
    ingress_name: loki
    hostname: "{{ monitoring_loki_hostname }}"
    expected_status_code: 302

- name: Register Loki as a datasource on Grafana
  community.grafana.grafana_datasource:
    name: loki
    ds_type: loki
    ds_url: http://monitoring-loki:3100
    grafana_url: https://{{ monitoring_grafana_hostname }}:{{ ingress_https_port }}
    grafana_api_key: "{{ monitoring_grafana_admin_api_key | default(omit) }}"
    grafana_user: >-
      {{
        monitoring_grafana_admin_bootstrap_password is defined
        | ternary(monitoring_grafana_admin_bootstrap_username, omit)
      }}
    grafana_password: "{{ monitoring_grafana_admin_bootstrap_password | default(omit) }}"
    validate_certs: false

- name: Install Loki's dashboard
  ansible.builtin.import_role:
    name: benschubert.infrastructure.monitoring
    tasks_from: dashboard
  vars:
    content: |
      {%
        set _dashboard_data = lookup(
          'ansible.builtin.url',
          'https://grafana.com/api/dashboards/12611/revisions/latest/download',
          split_lines=False,
        ) | from_json
      %}
      {{
        _dashboard_data
        | combine(
          {
            "templating": {
              "list": (_dashboard_data)["templating"]["list"]
              | rejectattr("name", "equalto", "pod")
              | rejectattr("name", "equalto", "stream")
            }
          }
        )
        | to_json(indent=4)
        | regex_replace('"uid": "\d+"', '"uid": "loki"')
        | regex_replace(', pod=~\\"\$pod\\"', '')
        | regex_replace(', stream=~\\"\$stream\\"', '')
      }}
    destination: monitoring/loki.json
