---
- name: Ensure the Mimir paths exist
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0o700"
  loop:
    - "{{ monitoring_mimir_config_path }}/alertmanager"
    - "{{ monitoring_mimir_data_path }}/tmp"

- name: Create the Mimir configuration files
  become: true
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ monitoring_mimir_config_path }}/{{ item.dst }}"
    mode: "0o400"
  register: _configuration
  loop:
    - src: mimir.yml.j2
      dst: mimir.yml
    - src: "{{ monitoring_mimir_alertmanager_config_template }}"
      dst: alertmanager-fallback-config.yml

- name: Create the Mimir secrets
  become: true
  containers.podman.podman_secret:
    name: monitoring-mimir-{{ item.lower().replace("_", "-") }}
    data: "{{ monitoring_mimir_secrets[item] }}"
    state: present
  loop: "{{ monitoring_mimir_secrets.keys() }}"

- name: Create the Mimir network
  become: true
  containers.podman.podman_network:
    name: "{{ item }}"
    internal: true
    state: quadlet
  loop: "{{ ['ingress-monitoring'] + monitoring_mimir_additional_networks }}"

- name: Build the secret list for Mimir
  ansible.builtin.set_fact:
    _mimir_secrets: >-
      {{
        (_mimir_secrets | default([]))
        + [
            'monitoring-mimir-'
            + item | regex_replace('_', '-') | lower
            + ',type=env,target='
            + item | upper
          ]
      }}
  loop: "{{ monitoring_mimir_secrets.keys() }}"

- name: Setup the Mimir container
  become: true
  containers.podman.podman_container:
    name: monitoring-mimir
    state: quadlet
    image: "{{ monitoring_mimir_image }}"
    command: --config.file=/etc/mimir/mimir.yml -config.expand-env=true
    healthcheck: CMD /busybox wget -O- http://localhost:9009/ready
    healthcheck_interval: 1m
    health_startup_interval: 10s
    health_startup_timeout: 5min
    sdnotify: healthy
    pull: newer
    read_only: true
    cap_drop: [all]
    secrets: "{{ _mimir_secrets | default(omit) }}"
    volumes:
      - "{{ monitoring_mimir_config_path }}:/etc/mimir/:ro,Z,idmap=uids=@0-0-1;gids=@0-0-1"
      # yamllint disable-line rule:line-length
      - "{{ monitoring_mimir_config_path }}/alertmanager:/etc/mimir/alertmanager:Z,idmap=uids=@0-0-1;gids=@0-0-1"
      - "{{ monitoring_mimir_data_path }}:/data:Z,idmap=uids=@0-0-1;gids=@0-0-1"
      - /usr/bin/busybox:/busybox:ro,Z
    network: |
      {{
        ['ingress-monitoring.network'] +
        (monitoring_mimir_additional_networks | map('regex_replace', '^(.*)$', '\1.network'))
      }}
    userns: auto:size=6
    quadlet_options:
      - |
        [Unit]
        PartOf=infrastructure.target
        Before=infrastructure.target
        After=auth.service
        After=ingress.service
        Requires=auth.service
        Requires=ingress.service

        [Service]
        TimeoutSec=5min

        [Install]
        WantedBy=infrastructure.target
  register: _container

- name: Ensure the Mimir container is started
  become: true
  ansible.builtin.systemd_service:
    name: monitoring-mimir
    state: "{{ (_configuration.changed or _container.changed) | ternary('restarted', 'started') }}"
    enabled: true
    daemon_reload: true

- name: Ensure the Mimir container is healthy
  become: true
  ansible.builtin.command: podman healthcheck run monitoring-mimir
  changed_when: false

- name: Create an application for Mimir on Authentik
  ansible.builtin.import_role:
    name: benschubert.infrastructure.auth
    tasks_from: application
  vars:
    allowlisted_groups: "{{ monitoring_mimir_allowlisted_groups }}"
    application_name: mimir
    application_slug: benschubert-infrastructure-mimir
    group: admin
    meta_description: Mimir
    # yamllint disable-line rule:line-length
    icon_url: https://{{ monitoring_mimir_hostname }}:{{ ingress_https_port }}/static/mimir-icon.png
    provider_proxy:
      hostname: "{{ monitoring_mimir_hostname }}"

- name: Setup an ingress for Mimir
  ansible.builtin.import_role:
    name: benschubert.infrastructure.ingress
    tasks_from: provider
  vars:
    template_file: ingress-mimir.yml.j2
    ingress_name: mimir
    hostname: "{{ monitoring_mimir_hostname }}"
    expected_status_code: 302

- name: Register Mimir as a datasource on Grafana
  community.grafana.grafana_datasource:
    name: mimir
    ds_type: prometheus
    ds_url: http://monitoring-mimir:9009/prometheus
    grafana_url: https://{{ monitoring_grafana_hostname }}:{{ ingress_https_port }}
    grafana_api_key: "{{ monitoring_grafana_admin_api_key | default(omit) }}"
    grafana_user: >-
      {{
        monitoring_grafana_admin_bootstrap_password is defined
        | ternary(monitoring_grafana_admin_bootstrap_username, omit)
      }}
    grafana_password: "{{ monitoring_grafana_admin_bootstrap_password | default(omit) }}"
    is_default: true
    validate_certs: false

- name: Register Mimir's AlertManager as a datasource on Grafana
  community.grafana.grafana_datasource:
    name: alertmanager
    ds_type: alertmanager
    ds_url: http://monitoring-mimir:9009/
    additional_json_data:
      implementation: mimir
    grafana_url: https://{{ monitoring_grafana_hostname }}:{{ ingress_https_port }}
    grafana_api_key: "{{ monitoring_grafana_admin_api_key | default(omit) }}"
    grafana_user: >-
      {{
        monitoring_grafana_admin_bootstrap_password is defined
        | ternary(monitoring_grafana_admin_bootstrap_username, omit)
      }}
    grafana_password: "{{ monitoring_grafana_admin_bootstrap_password | default(omit) }}"
    validate_certs: false

- name: Retrieve the Mimir container information
  become: true
  containers.podman.podman_container_info:
    name: monitoring-mimir
  register: _mimir_container_info

- name: Get the list of compiled dashboards for Mimir from GitHub
  benschubert.infrastructure.github_content:
    owner: grafana
    path: operations/mimir-mixin-compiled-baremetal/dashboards
    ref: >-
      {{
        _mimir_container_info.containers[0]['Config']['Labels']['org.opencontainers.image.revision']
      }}
    repo: mimir
  register: _mimir_dashboard_list
  retries: 3
  delay: 2

- name: Install Mimir dashboards
  ansible.builtin.include_role:
    name: benschubert.infrastructure.monitoring
    tasks_from: dashboard
  vars:
    content: >-
      {%-
        set _dashboard_data = lookup(
          "ansible.builtin.url",
          item.download_url,
          split_lines=False,
        ) | from_json
      %}
      {{
        _dashboard_data
        | combine(
          {
            "templating": {
              "list": (_dashboard_data)["templating"]["list"]
              | rejectattr("name", "equalto", "namespace")
              | rejectattr("name", "equalto", "cluster")
            }
          }
        )
        | to_json(indent=4)
        | regex_replace(
          'job=~\\"\(\$namespace\)\/[^"]+"',
          'job=\\"prometheus.scrape.benschubert_infrastructure_monitoring_monitor\\"'
        )
        | regex_replace(
          'namespace=~\\"\$namespace\\"',
          'job=\\"prometheus.scrape.benschubert_infrastructure_monitoring_monitor\\"'
        )
        | regex_replace('cluster=~\\"\$cluster\\",? ?', '')
        | regex_replace('\(cluster_job(?:_[^:]+)?:([^:]+):[^{]+{', '(\1{')
        | regex_replace(
          'sum\([^:]+:(cortex_distributor_received_[^:]+):rate5m{([^}]+)}\)',
          'rate(\1_total{\2}[5m])',
        )
      }}
    destination: monitoring/{{ item.name }}
  loop: >-
    {{
      _mimir_dashboard_list.content
        | rejectattr('name', 'match', '.*-resources.json$')
        | rejectattr('name', 'match', '.*-networking.json$')
        | rejectattr('name', 'match', '^mimir-rollout-progress.json$')
        | rejectattr('name', 'match', '^mimir-overrides.json$')
        | rejectattr('name', 'match', '^mimir-slow-queries.json$')
        | rejectattr('name', 'match', '^mimir-top-tenants.json$')
        | rejectattr('name', 'match', '^mimir-scaling.json$')
    }}
  loop_control:
    label: "{{ item.name }}"

- name: Install Mimir dashboards for slow queries
  ansible.builtin.include_role:
    name: benschubert.infrastructure.monitoring
    tasks_from: dashboard
  vars:
    content: >-
      {%-
        set _dashboard_data = lookup(
          "ansible.builtin.url",
          item.download_url,
          split_lines=False,
        ) | from_json
      %}
      {{
        _dashboard_data
        | combine(
          {
            "templating": {
              "list": (_dashboard_data)["templating"]["list"]
              | rejectattr("name", "equalto", "namespace")
              | rejectattr("name", "equalto", "cluster")
            }
          }
        )
        | to_json(indent=4)
        | regex_replace('cluster=~\\"\$cluster\\",? ?', '')
        | regex_replace(',? ?name=~\\"\$component\.\*\\"', '')
        | regex_replace('namespace=~\\"\$namespace\\"', 'container=\\"monitoring-mimir\\"')
      }}
    destination: monitoring/{{ item.name }}
  loop: >-
    {{
      _mimir_dashboard_list.content
        | selectattr('name', 'match', '^mimir-slow-queries.json$')
    }}
  loop_control:
    label: "{{ item.name }}"
