---
- name: Create the required networks
  become: true
  containers.podman.podman_network:
    name: "{{ item }}"
    internal: true
    state: quadlet
  loop: "{{ ingress_networks }}"

- name: Create an ingress network to allow external access
  become: true
  containers.podman.podman_network:
    name: ingress
    internal: false
    state: quadlet

- name: Ensure the parent directory for traefik exists
  become: true
  ansible.builtin.file:
    path: "{{ ingress_traefik_configuration_files_path | dirname }}"
    state: directory
    mode: "0o700"

- name: Ensure the directory for traefik configuration exists
  become: true
  ansible.builtin.file:
    path: "{{ ingress_traefik_configuration_files_path }}/config/providers"
    state: directory
    mode: "0o700"

- name: Create the traefik main configuration
  become: true
  ansible.builtin.template:
    src: traefik.yml.j2
    dest: "{{ ingress_traefik_configuration_files_path }}/config/traefik.yml"
    mode: "0o400"
  register: _configuration

- name: Create the acme.json file to store certificates
  become: true
  ansible.builtin.file:
    path: "{{ ingress_traefik_configuration_files_path }}/acme.json"
    access_time: preserve
    modification_time: preserve
    state: touch
    mode: "0o600"

- name: Create the required secrets
  become: true
  containers.podman.podman_secret:
    name: ingress-{{ item.key.lower().replace('_', '-') }}
    data: "{{ item.value }}"
    state: present
  loop: "{{ ingress_traefik_secrets | dict2items }}"
  loop_control:
    label: "{{ item.key }}"

- name: Setup the Traefik container
  become: true
  containers.podman.podman_container:
    name: ingress
    image: "{{ ingress_traefik_image }}"
    state: quadlet
    pull: newer
    network: |
      {{
        (ingress_networks | map('regex_replace', '^(.*)$', '\1.network'))
        + ['ingress.network']
      }}
    network_aliases: "{{ ingress_network_aliases }}"
    publish: |
      {{
        (
          [ingress_http_port, ingress_https_port]
          + ((ingress_extra_entrypoints | default({})).values() | list)
        ) | map('regex_replace', '^(.+)$', '\1:\1') | list
      }}
    userns: auto:size=6
    volumes:
      # yamllint disable-line rule:line-length
      - "{{ ingress_traefik_configuration_files_path }}/config:/etc/traefik:ro,Z,idmap=uids=@0-0-1;gids=@0-0-1"
      # yamllint disable-line rule:line-length
      - "{{ ingress_traefik_configuration_files_path }}/acme.json:/etc/traefik/acme.json:rw,Z,idmap=uids=@0-0-1;gids=@0-0-1"
    healthcheck: traefik healthcheck
    healthcheck_interval: 1m
    health_startup_interval: 10s
    health_startup_timeout: 5min
    sdnotify: healthy
    read_only: true
    env: "{{
      ingress_traefik_environment_variables
      | combine(
        ingress_traefik_secrets
        | zip(
          ingress_traefik_secrets
          | map('lower')
          | map('replace', '_', '-')
          | map('regex_replace', '^(.*)$', '/run/secrets/ingress-\\1')
        )
        | list
        | items2dict(key_name=0, value_name=1)
      )
      }}"
    secrets: |
      {{
        ingress_traefik_secrets
        | map('lower')
        | map('regex_replace', '_', '-')
        | map('regex_replace', '^(.*)$', 'ingress-\1')
      }}
    cap_drop: [all]
    cap_add:
      # Required to bind on lower ports
      - NET_BIND_SERVICE
    quadlet_options:
      - |
        [Unit]
        PartOf=infrastructure.target
        Before=infrastructure.target

        [Service]
        TimeoutSec=5min
  register: _container

- name: Ensure the Traefik container is running
  become: true
  ansible.builtin.systemd_service:
    name: ingress
    state: "{{ (_configuration.changed or _container.changed) | ternary('restarted', 'started') }}"
    enabled: true
    daemon_reload: true

- name: Ensure the Traefik container is healthy
  become: true
  ansible.builtin.command: podman healthcheck run ingress
  changed_when: false
