---
- name: Create the provider configuration for Traefik for {{ ingress_name }}
  become: true
  ansible.builtin.template:
    src: "{{ template_file }}"
    dest: >-
      {{ ingress_traefik_configuration_files_path }}/config/providers/{{ ingress_name }}.yml
    mode: "0o400"

- name: Wait until the service is accessible for {{ ingress_name }}
  ansible.builtin.uri:
    url: https://{{ hostname }}{{
        "" if ingress_https_port == 443 else ":{}".format(ingress_https_port)
      }}/
    ca_path: "{{ ingress_custom_ca_cert | default(omit) }}"
    validate_certs: "{{ ingress_validate_certs }}"
    follow_redirects: none
    status_code:
      - "{{ expected_status_code }}"
  register: _service
  until: _service.status == expected_status_code
  retries: 25
  delay: 2
