- alert: AuthentikSystemTaskUnhealthy
  expr: rate(authentik_tasks_errors_total{instance="{{ name }}"}[5m])> 0
  for: 0m
  labels:
    severity: critical
  annotations:
    summary: Auhtentik system task unhealthy (instance {{ '{{' }} $labels.instance {{ '}}' }})
    description: Authentik has an unhealthy system task\n  TASK = {{ '{{' }} $labels.actor_name {{ '}}' }}\n  LABELS = {{ '{{' }} $labels {{ '}}' }}
