{{ template_warning }}
---
http:
  routers:
    traefik-api:
      rule: Host(`{{ hostname }}`)
      service: api@internal
      priority: 10
      tls: { {% if ingress_traefik_certificates_resolvers %}"certResolver": "default"{% endif %} }
      middlewares:
        - authentik@file

    traefik-api-auth:
      rule: Host(`{{ hostname }}`) && PathPrefix(`/outpost.goauthentik.io/`)
      priority: 15
      service: authentik@file

    traefik-icon:
      rule: Host(`{{ hostname }}`) && PathPrefix(`/dashboard/icons/favicon-32x32.png`)
      service: api@internal
      priority: 15
      tls: { {% if ingress_traefik_certificates_resolvers %}"certResolver": "default"{% endif %} }
