{{ template_warning }}
---
api:
  dashboard: true

accessLog: {}
log:
  level: INFO

entryPoints:
  web:
    address: ":{{ ingress_http_port }}"
    http:
      redirections:
        entryPoint:
          permanent: true
          scheme: https
          to: web-secure
  web-secure:
    address: ":{{ ingress_https_port }}"
    http:
      tls: { {%- if ingress_traefik_default_certificates_resolver %}certresolver: default{% endif -%} }
  metrics:
    address: ":8082"
  {% for entrypoint, port in ( ingress_extra_entrypoints | default({})).items() -%}
  {{ entrypoint }}:
    address: ":{{ port }}"
  {% endfor %}

metrics:
  prometheus:
    entryPoint: metrics

ping:
  entryPoint: metrics

providers:
  file:
    directory: /etc/traefik/providers
    watch: true

{% if ingress_traefik_default_certificates_resolver %}
certificatesResolvers:
  default:
    {{ ingress_traefik_default_certificates_resolver | to_yaml(indent=6) }}
{% endif %}
