{{ template_warning }}
---
api:
  dashboard: true

accessLog: {}
log:
  level: INFO

entryPoints:
  web:
    address: ":{{ ingress_http_port }}"
    http:
      redirections:
        entryPoint:
          permanent: true
          scheme: https
          to: web-secure
  web-secure:
    address: ":{{ ingress_https_port }}"
  metrics:
    address: ":8082"

metrics:
  prometheus:
    entryPoint: metrics

ping:
  entryPoint: metrics

providers:
  file:
    directory: /etc/traefik/providers
    watch: true

{% if ingress_traefik_certificates_resolvers %}
{{ {"certificatesResolvers": (ingress_traefik_certificates_resolvers or {})} | to_yaml }}
{% endif %}
