-r requirements.txt
-r requirements-tests.txt
ansible-lint
molecule<25
molecule-plugins[podman]
tabulate
# Unpin once molecule is compatible and allows specifying a working directory
# to isolate ansible collections
ansible-compat<25
