{{ template_warning }}
[Install]
WantedBy=default.target

[Unit]
Description=All services forming the infrastructure stack

PropagatesStopTo=auth-postgres.service
PropagatesStopTo=auth-redis.service
PropagatesStopTo=monitoring-grafana-postgres.service
