{{ template_warning }}
---
http:
  routers:
    loki:
      rule: Host(`{{ hostname }}`)
      service: loki
      priority: 10
      middlewares:
        - authentik@file

    loki-auth:
      rule: Host(`{{ hostname }}`) && PathPrefix(`/outpost.goauthentik.io/`)
      priority: 15
      service: authentik@file

  services:
    loki:
      loadBalancer:
        servers:
          - url: http://monitoring-loki:3100
