{{ template_warning }}
multitenancy_enabled: false

usage_stats:
  enabled: false

target: all,alertmanager

activity_tracker:
  filepath: /data/tmp/metrics-activity.log

alertmanager:
  data_dir: /data/alertmanager
  external_url: https://{{ monitoring_mimir_hostname }}:{{ ingress_https_port }}/alertmanager
  fallback_config_file: /etc/mimir/alertmanager-fallback-config.yml
  sharding_ring:
    zone_awareness_enabled: false
    replication_factor: 1
  utf8_strict_mode: true

alertmanager_storage:
  backend: filesystem
  filesystem:
    dir: /etc/mimir/alertmanager/

blocks_storage:
  backend: filesystem
  filesystem:
    dir: /data/tsdb
  bucket_store:
    sync_dir: /data/tmp/tsdb-sync
  tsdb:
    dir: /data/tmp/tsdb

compactor:
  data_dir: /data/tmp/compactor
  sharding_ring:
    kvstore:
      store: memberlist

ingester:
  ring:
    replication_factor: 1
    zone_awareness_enabled: false

ruler:
  rule_path: /data/tmp/ruler
  alertmanager_url: http://127.0.0.1:9009/alertmanager

ruler_storage:
  backend: local
  local:
    directory: /etc/mimir/rules

server:
  http_listen_port: 9009
  log_level: info

store_gateway:
  sharding_ring:
    replication_factor: 1
    zone_awareness_enabled: false
